<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="plugin.video.embycon">
		<category label="30014" id="emby_server_settings" help="">
			<group id="1" label="30388">
				<setting id="detect_local_server_action" type="action" label="30011" help="">
					<level>0</level>
					<data>RunScript(plugin.video.embycon,0,?mode=DETECT_SERVER_USER)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="protocol" type="integer" label="30390" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30391">0</option>
							<option label="30392">1</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30390</heading>
					</control>
				</setting>
				<setting id="ipaddress" type="string" label="30000" help="">
					<level>0</level>
					<default>&lt;none&gt;</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30000</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="port" type="number" label="30001" help="">
					<level>0</level>
					<default>8096</default>
					<control type="edit" format="integer">
						<heading>30001</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="verify_cert" type="boolean" label="30003" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30389">
				<setting id="change_emby_user_action" type="action" label="30012" help="">
					<level>0</level>
					<data>RunScript(plugin.video.embycon,0,?mode=CHANGE_USER)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="username" type="string" label="30024" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30024</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="password" type="string" label="30025" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30025</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="save_user_to_settings" type="boolean" label="30378" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="allow_password_saving" type="boolean" label="30367" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category label="30207" id="emby_playback_settings" help="">
			<group id="1" label="30437">
				<setting id="play_cinema_intros" type="boolean" label="30438" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="skip_intros" type="integer" label="30441" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30442">0</option>
							<option label="30443">1</option>
							<option label="30444">2</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30441</heading>
					</control>
				</setting>
				<setting id="auto_play_first_version" type="boolean" label="30455" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30238">
				<setting id="max_stream_bitrate" type="number" label="30208" help="">
					<level>0</level>
					<default>75000</default>
					<control type="edit" format="integer">
						<heading>30208</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="allow_direct_file_play" type="boolean" label="30433" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="force_transcode_h265" type="boolean" label="30236" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="force_transcode_mpeg2" type="boolean" label="30239" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="force_transcode_msmpeg4v3" type="boolean" label="30240" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="force_transcode_mpeg4" type="boolean" label="30241" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="force_transcode_av1" type="boolean" label="30448" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="direct_stream_sub_select" type="integer" label="30379" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30380">0</option>
							<option label="30381">1</option>
							<option label="30382">2</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30379</heading>
					</control>
				</setting>
			</group>
			<group id="3" label="30211">
				<setting id="force_max_stream_bitrate" type="number" label="30434" help="">
					<level>0</level>
					<default>7000</default>
					<control type="edit" format="integer">
						<heading>30434</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="playback_max_width" type="string" label="30212" help="">
					<level>0</level>
					<default>1920</default>
					<constraints>
						<options>
							<option>640</option>
							<option>720</option>
							<option>1024</option>
							<option>1280</option>
							<option>1440</option>
							<option>1600</option>
							<option>1920</option>
							<option>2600</option>
							<option>4096</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30212</heading>
					</control>
				</setting>
				<setting id="playback_video_force_8" type="boolean" label="30213" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="audio_codec" type="string" label="30419" help="">
					<level>0</level>
					<default>ac3</default>
					<constraints>
						<options>
							<option>ac3</option>
							<option>aac</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30419</heading>
					</control>
				</setting>
				<setting id="audio_playback_bitrate" type="number" label="30418" help="">
					<level>0</level>
					<default>256</default>
					<control type="edit" format="integer">
						<heading>30418</heading>
						<hidden>false</hidden>
					</control>
				</setting>
				<setting id="audio_max_channels" type="integer" label="30420" help="">
					<level>0</level>
					<default>8</default>
					<constraints>
						<minimum>1</minimum>
						<step>1</step>
						<maximum>8</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category label="30214" id="event_settings" help="">
			<group id="1" label="30440">
				<setting id="play_next_trigger_time" type="integer" label="30439" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>180</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="2" label="30215">
				<setting id="promptPlayNextEpisodePercentage" type="integer" label="30218" help="">
					<level>0</level>
					<default>100</default>
					<constraints>
						<minimum>5</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="promptPlayNextEpisodePercentage_prompt" type="boolean" label="30219" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="promptDeleteEpisodePercentage" type="integer" label="30217" help="">
					<level>0</level>
					<default>100</default>
					<constraints>
						<minimum>5</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="promptDeleteMoviePercentage" type="integer" label="30220" help="">
					<level>0</level>
					<default>100</default>
					<constraints>
						<minimum>5</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="3" label="30121">
				<setting id="forceAutoResume" type="boolean" label="30322" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="jump_back_amount" type="integer" label="30114" help="">
					<level>0</level>
					<default>15</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>60</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="4" label="30329">
				<setting id="stopPlaybackOnScreensaver" type="boolean" label="30332" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="changeUserOnScreenSaver" type="boolean" label="30330" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="cacheImagesOnScreenSaver" type="boolean" label="30333" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="cacheImagesOnScreenSaver_interval" type="integer" label="30400" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>60</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category label="30110" id="interface_display_settings" help="">
			<group id="1" label="30216">
				<setting id="addCounts" type="boolean" label="30116" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="addResumePercent" type="boolean" label="30118" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="addSubtitleAvailable" type="boolean" label="30163" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="include_overview" type="boolean" label="30181" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="include_media" type="boolean" label="30182" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="include_people" type="boolean" label="30183" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="hide_unwatched_details" type="boolean" label="30023" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="episode_name_format" type="string" label="30019" help="">
					<level>0</level>
					<default>{SeriesName} - {ItemName}</default>
					<constraints>
						<options>
							<option>{SeriesName} - {ItemName}</option>
							<option>{ItemName}</option>
							<option>s{SeasonIndex}e{EpisodeIndex} - {ItemName}</option>
							<option>{SeriesName} - s{SeasonIndex}e{EpisodeIndex} - {ItemName}</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30019</heading>
					</control>
				</setting>
				<setting id="max_image_width" type="integer" label="30449" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>0</minimum>
						<step>8</step>
						<maximum>4096</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="use_prem_date_for_added" type="boolean" label="30117" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30222">
				<setting id="group_movies" type="boolean" label="30340" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="flatten_tvshow_seasons" type="integer" label="30020" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30445">0</option>
							<option label="30446">1</option>
							<option label="30447">2</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30020</heading>
					</control>
				</setting>
				<setting id="show_all_episodes" type="boolean" label="30021" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="show_empty_folders" type="boolean" label="30328" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="hide_watched" type="boolean" label="30432" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3" label="30223">
				<setting id="itemsPerPage" type="integer" label="30331" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>200</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="show_x_filtered_items" type="integer" label="30018" help="">
					<level>0</level>
					<default>20</default>
					<constraints>
						<minimum>5</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category label="30111" id="background_services_settings" help="">
			<group id="1" label="30343">
				<setting id="websocket_enabled" type="boolean" label="30310" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="override_contextmenu" type="boolean" label="30334" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="override_bookmarks" type="boolean" label="30335" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="background_interval" type="integer" label="30341" help="">
					<level>0</level>
					<default>20</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>120</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="random_movie_refresh_interval" type="integer" label="30384" help="">
					<level>0</level>
					<default>5</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>60</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category label="30022" id="advanced_embycon_settings" help="">
			<group id="1" label="30022">
				<setting id="deviceName" type="string" label="30016" help="">
					<level>0</level>
					<default>EmbyCon</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30016</heading>
					</control>
				</setting>
				<setting id="http_timeout" type="integer" label="30416" help="">
					<level>0</level>
					<default>60</default>
					<constraints>
						<minimum>5</minimum>
						<step>1</step>
						<maximum>300</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="profiling_enabled" type="boolean" label="30010" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="log_debug" type="boolean" label="30027" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="log_timing" type="boolean" label="30015" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="use_cache" type="boolean" label="30345" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="showLoadProgress" type="boolean" label="30120" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="suppressErrors" type="boolean" label="30315" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="speed_test_data_size" type="integer" label="30436" help="">
					<level>0</level>
					<default>15</default>
					<constraints>
						<minimum>5</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category label="30421" id="embycon_view_settings" help="">
			<group id="1" label="30421">
				<setting id="view-movies" type="string" label="30450" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<enable>false</enable>
					<control type="edit" format="string">
						<heading>30450</heading>
					</control>
				</setting>
				<setting id="view-tvshows" type="string" label="30451" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<enable>false</enable>
					<control type="edit" format="string">
						<heading>30451</heading>
					</control>
				</setting>
				<setting id="view-seasons" type="string" label="30452" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<enable>false</enable>
					<control type="edit" format="string">
						<heading>30452</heading>
					</control>
				</setting>
				<setting id="view-episodes" type="string" label="30453" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<enable>false</enable>
					<control type="edit" format="string">
						<heading>30453</heading>
					</control>
				</setting>
				<setting id="view-sets" type="string" label="30454" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<enable>false</enable>
					<control type="edit" format="string">
						<heading>30454</heading>
					</control>
				</setting>

			</group>
		</category>
		<category label="30422" id="embycon_sort_settings" help="">
			<group id="1" label="30422">
				<setting id="sort-Movies" type="integer" label="30231" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30423">0</option>
							<option label="30424">1</option>
							<option label="30426">2</option>
							<option label="30425">3</option>
							<option label="30427">4</option>
							<option label="30429">5</option>
							<option label="30430">6</option>
							<option label="30428">7</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30231</heading>
					</control>
				</setting>
				<setting id="sort-BoxSets" type="integer" label="30260" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30423">0</option>
							<option label="30424">1</option>
							<option label="30426">2</option>
							<option label="30425">3</option>
							<option label="30427">4</option>
							<option label="30429">5</option>
							<option label="30430">6</option>
							<option label="30428">7</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30260</heading>
					</control>
				</setting>
				<setting id="sort-Series" type="integer" label="30229" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30423">0</option>
							<option label="30424">1</option>
							<option label="30426">2</option>
							<option label="30425">3</option>
							<option label="30427">4</option>
							<option label="30429">5</option>
							<option label="30430">6</option>
							<option label="30428">7</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30229</heading>
					</control>
				</setting>
				<setting id="sort-Seasons" type="integer" label="30431" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30423">0</option>
							<option label="30424">1</option>
							<option label="30426">2</option>
							<option label="30425">3</option>
							<option label="30427">4</option>
							<option label="30429">5</option>
							<option label="30430">6</option>
							<option label="30428">7</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30431</heading>
					</control>
				</setting>
				<setting id="sort-Episodes" type="integer" label="30235" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30423">0</option>
							<option label="30424">1</option>
							<option label="30456">8</option>
							<option label="30426">2</option>
							<option label="30425">3</option>
							<option label="30427">4</option>
							<option label="30429">5</option>
							<option label="30430">6</option>
							<option label="30428">7</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30235</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>